    <!-- Footer -->
        <footer>
            <div class="footer-content">
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <a href="/crew.html">Crew</a>
                    <a href="projects.html">Projects</a>
                    <a href="accounts.html">Accounts</a>
                    <a href="apply.html">Apply</a>
                    <a href="donate.html">Donate</a>
                </div>
                <div class="footer-links">
                    <h3>Connect With Us</h3>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/company/voitheia-org/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/voitheia.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-links">
                    <h3>Contact</h3>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=voitheia.org@gmail.com&su=Hey Voitheia&body=Hi, I would like to know more about your organisation."
                    target="_blank"><i class="fas fa-envelope"></i> voitheia.org@gmail.com</a>
                    <a href="tel:+2348055899033"><i class="fas fa-phone"></i> +234 805 589 9033</a>
                </div>
            </div>
        </footer>