<!-- Header -->
    <header>
        <nav>
            <a href="index.html">
                <img src="/assets/images/voitheia/Voitheia_logo.webp" alt="Voitheia Logo" class="logo">
            </a>
            <div class="nav-links">
                <a href="/crew.html">Crew</a>
                <a href="/projects.html">Projects</a>
                <a href="/accounts.html">Accounts</a>
                <a href="/apply.html" class="button apply-btn">Apply</a>
                <a href="/donate.html" class="button donate-btn">Donate</a>
            </div>
        </nav>
    </header>